@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-hl-frag: 245 158 11;
    --color-text-frag: 0 0 0;
    --color-background-frag: 255 255 255;
    --color-hl: rgb(var(--color-hl-frag));
    --color-text: black;
    --color-background: white;
  }

  *,
  ::before,
  ::after {
    border-color: var(--color-text);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-hl-frag: 221 167 31;
      --color-text-frag: 255 255 255;
      --color-background-frag: 0 0 0;
      --color-text: white;
      --color-background: black;
    }
  }

  :root {
    color-scheme: light dark;
    color: var(--color-text);
    background-color: var(--color-background);
  }

  code {
    @apply font-mono;
  }
}

@layer components {
  .btn-inline {
    @apply border px-1 -my-[1px];
    @apply disabled:text-text/60 disabled:cursor-not-allowed;
    &:not(:disabled) {
      @apply hover:bg-hl;
    }
  }
  .btn-inline + .btn-inline {
    @apply -ml-[1px];
  }

  .checkbox-inline {
    @apply px-1 flex gap-1;
  }
}

@layer utilities {
  .animate-flicker {
    animation: flicker 2s step-start infinite;
    @keyframes flicker {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0.4;
      }
    }
  }
}
